<!DOCTYPE html>
<html>
<head>   
    <title>@ViewBag.Title MyLayout- MyTitle</title>       
</head>
<body>

    <h1>Test</h1>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    
</body>
</html>